<div class="container">
    <div id="header">
        <h2>Dashboard</h2>
    </div>
    <div id="dashboard-container" *ngIf="data != null">
        <div id="information-panel">
            <p>Voltage: {{data.batteryVoltage}} V</p>
            <p>Current: {{data.batteryCurrent}} A</p>
            <p>Power: {{calculateBatteryPower(data.batteryVoltage,data.batteryCurrent)}} kW</p>
            <p>Status of Charge: {{data.soc}} %</p>
        </div>
        <div id="battery-storage">
            <div 
                class="battery-module" 
                *ngFor="let module of data?.modules, let i = index">
                <div class="module-information">
                    <p>{{calculateModuleVoltage(module)}} V</p>
                    <p>{{calculateVoltageDifference(module)}} mV</p>
                    <p>{{module.temperature}} °C</p>
                </div>
                <div class="module-cells">
                    <div 
                        class="battery-cell"
                        *ngFor="let cell of data.modules[i].cells, let j = index">
                        <p>{{cell.voltage}}V</p>
                        <div 
                            class="charge-indicator"
                            [style.width]="calculatePercentage(3.15,4.2,cell.voltage)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
